.content__cell .content li {
	width: 735px;
	height: auto;
}
.shop_info_tab .content__cell .content li {
	width: 247px;
	height: auto;
}
.activity_list .activi_header_content_left .content__cell .content li {
	width: 470px;
}
.content .content_commodity ul.content_list_ul li.activity_list .content li {
	width: 100%;
	height: 272px;
	padding: 0;
	margin: 0;
}
.activi_header_content_left .content__cell .content li {
	width: 910px;
	height: 360px;
}
.shop_info_tab .pre-nex {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
}
.content__cell--slider {
	width: 100%;
	margin: 0 auto;
	height: auto;
}
.content__cell--slider ul.content {
	width: 100%;
	height: 350px;
}
.shop_info_tab .content__cell--slider ul.content {
	width: 100%;
	height: 100px;
}
.content__cell .content li img {
	height: 100%;
	width: 100%;
}
.slider-sprite, .ui-slider .ui-slider__control--left, .ui-slider .ui-slider__control--left-small, .ui-slider .ui-slider__control--right, .ui-slider .ui-slider__control--right-small {
	background-image: url(img/slider.vdb0b2102.png);
	background-repeat: no-repeat
}
.ui-slider {
	position: relative
}
.ui-slider .ui-slider__control {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	width: 40px;
	height: 50px
}
.ui-slider .ui-slider__control--left, .ui-slider .ui-slider__control--left-small {
	left: 0;
	background-position: 0 -25px
}
.ui-slider .ui-slider__control--right, .ui-slider .ui-slider__control--right-small {
	right: 0;
	background-position: 0 -100px
}
.ui-slider .ui-slider__control--left-small, .ui-slider .ui-slider__control--right-small {
	margin-top: -12px;
	width: 25px;
	height: 25px
}
.ui-slider .ui-slider__control--left-small {
	background-position: 0 0
}
.ui-slider .ui-slider__control--right-small {
	background-position: 0 -75px
}
.ui-slider .ui-slider__triggers {
 *display: inline;
 *zoom: 1;
	width: 110px;
	height: 10px;
}
.ui-slider .ui-slider__triggers li {
/*background: url(../images/o2o11_1_122.png);*/
}
.ui-slider .ui-slider__triggers .trigger-item, .ui-slider .ui-slider__triggers li {
	margin-left: 1px;
	display: inline-block;
	width: 117px;
	/* height: 14px; */
	cursor: pointer;
	float: left;
	color: #000;
	background-color: #fff;
	opacity: 0.7;
	overflow:hidden;
	line-height: 30px;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.ui-slider .ui-slider__triggers .trigger-item--current, .ui-slider .ui-slider__triggers li--current {
	background: #37b7a9
}
.ui-slider .ui-slider__triggers .trigger-item:last-child, .ui-slider .ui-slider__triggers li:last-child {
	margin-right: 0
}
.ui-slider .ui-slider__triggers .trigger-item, .ui-slider .ui-slider__triggers li:hover, .ui-slider .ui-slider__triggers .mt-slider-current-trigger {
	color: #fff;
	background-color: #000;
	opacity: 0.7;
}
.ui-slider .ui-slider__triggers--small {
	height: 7px
}
.ui-slider .ui-slider__triggers--small .trigger-item, .ui-slider .ui-slider__triggers--small li {
	width: 7px;
	height: 7px;
	margin: 0 2px 0 3px
}
.ui-slider .ui-slider__triggers--small .trigger-item:first-child, .ui-slider .ui-slider__triggers--small li:first-child {
	margin-left: 0
}
.ui-slider .ui-slider__triggers--translucent {
	padding: 3px 6px;
	border-radius: 10px;
	background: rgba(0, 0, 0, .5);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#89000000, endColorstr=#89000000);
 -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#89000000, endColorstr=#89000000)
}
.i-icon-faq {
	background-image: url(img/Ptji5wAAAABJRU5ErkJggg==);
 *background-image: url(img/icon-faq-new.v78153cbf.png)
}
.deallist-sprite, .index-slider .discount {
	background-image: url(../images/weidian_icon.png);
	background-repeat: no-repeat
}
.index-slider .pre-next .mt-slider-next, .index-slider .pre-next .mt-slider-previous, .slider-sprite {
	background-image: url(../images/weidian_icon.png);
	background-repeat: no-repeat
}
.index-slider .slide__side--left, .index-slider .slide__side--right, .index-slider .slide__side--right-banner, .index-slider .slide__split--line, .index-slider-sprite {
	background-image: url(img/index-slider.vc61ab1f5.png);
	background-repeat: no-repeat
}
.component-index-slider {
	overflow: visible!important;
	position: relative;
	width: 100%;
}
.w-1200 .component-index-slider {
	overflow: visible!important;
	position: relative;
	width: 300px;
	height: 300px;
}
.index-slider {
	padding-right: 1px;
	zoom: 1
}
.w-1200 .index-slider {
	width: 300px;
	padding-right: 1px;
	zoom: 1
}
.index-slider .left {
	position: relative;
	float: left;
	width: 367px
}
.index-slider .right {
	position: relative;
	float: right;
	width: 366px
}
.index-slider .link {
	display: block
}
.index-slider .link:hover {
	text-decoration: none
}
.index-slider .discount {
	position: absolute;
	right: 10px;
	top: 0;
	width: 28px;
	height: 37px;
	padding: 13px 22px 0 12px;
	color: #FFF;
	font-weight: 700;
	font-family: Arial;
	font-size: 18px;
	text-align: center;
	background-position: 0 -504px;
	z-index: 2
}
.index-slider .discount-big {
	width: 62px;
	padding: 8px 0 5px;
	font-size: 24px
}
.index-slider .img {
	vertical-align: top
}
.index-slider .title {
	position: relative;
	float: left;
	width: 240px;
	height: 40px;
	padding: 5px 10px;
	background-color: #f6f6f6
}
.index-slider .title--banner {
	width: 346px
}
.index-slider .left .title--banner {
	border-right: 1px solid #D6D6D6
}
.index-slider .one-pic-title {
	width: 610px
}
.index-slider .desc, .index-slider .price, .index-slider .xtitle {
	position: relative;
	width: 245px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.index-slider .desc {
	font-size: 12px;
	color: #999
}
.index-slider .xtitle {
	color: #666
}
.index-slider .price {
	position: relative;
	float: right;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: 700;
	font-size: 14px
}
.index-slider .price strong {
	font-size: 22px
}
.index-slider .left .price {
	border-right: 1px solid #D6D6D6
}
.index-slider .head {
	position: absolute;
	bottom: 13px;
	width: 100%;
	z-index: 99;
}
.shop_info_tab .index-slider .head {
	position: absolute;
	bottom: 13px;
	width: 100%;
	z-index: 99;
	display: none;
}
.shop_logo .index-slider .head {
	position: absolute;
	padding: 0 0 5px 20px;
	bottom: -294px;
/bottom: 0;
	width: 250px;
	left: 70px;
}
.index-slider .head .icon {
	position: absolute;
	top: 0;
	left: 0;
	line-height: 1.4;
	color: #f16325;
*display:inline;
	zoom: 1
}
.index-slider .head h2 {
	margin-bottom: 8px;
	line-height: 20px;
	font-size: 14px;
	color: #666
}
.index-slider .head .trigger-container {
	width: 97%;
	margin: 0 auto;
}
.index-slider .slide__split--line {
	position: absolute;
	right: -10px;
	top: 0;
	width: 10px;
	height: 50px;
	background-position: 0 -186px
}
.index-slider .slide__side--left, .index-slider .slide__side--right, .index-slider .slide__side--right-banner {
	position: absolute;
	bottom: -5px;
	width: 8px;
	height: 60px
}
.index-slider .slide__side--left {
	left: -8px;
	background-position: 0 0
}
.index-slider .slide__side--right {
	right: -8px;
	background-position: 0 -124px
}
.index-slider .slide__side--right-banner {
	right: -8px;
	background-position: 0 -62px
}
.index-slider .mt-slider-sheet-container {
	overflow: visible!important;
	height: 270px!important
}
.index-slider .mt-slider-sheet {
	width: 100%
}
.index-slider .pre-next .mt-slider-next, .index-slider .pre-next .mt-slider-previous {
	position: absolute;
	right: -10px;
	top: 110px;
	width: 42px;
	height: 80px;
	z-index: 2;
	cursor: pointer
}
.index-slider .pre-next .mt-slider-next {
	right: -3px;
	background-position: -274px -170px;
	opacity: 0.8;
}
.shop_info_tab .index-slider .pre-next .mt-slider-next, .shop_info_tab .index-slider .pre-next .mt-slider-previous {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 42px;
	height: 80px;
	z-index: 2;
	cursor: pointer
}
.shopping .shopping_right .shop_info_tab .conmmetn_switch {
	width: 60px;
	height: 26px;
	margin: 0 auto;
	padding-top: 20px;
}
.shopping .shopping_right .shop_info_tab .conmmetn_switch div {
}
.shopping .shopping_right .shop_info_tab .conmmetn_switch:after {
	content: "";
	height: 0;
	clear: both;
	display: block
}
.shop_info_tab .index-slider .pre-next {
	width: 23%;
	bottom: -11px;
	position: absolute;
	left: 38%;
}
.shop_info_tab .index-slider .pre-next .mt-slider-previous, .shop_info_tab .index-slider .pre-next .mt-slider-next {
	background: #00bb88 url(../images/weidian_icon.png);
	width: 26px;
	height: 26px;
}
.shop_info_tab .index-slider .pre-next .mt-slider-next {
	float: left;
	background-position: 389px -403px;
}
.shop_info_tab .index-slider .pre-next .mt-slider-next:hover {
	background-position: 346px -403px;
	background-color: #d6d6d6;
}
.index-slider .pre-next .mt-slider-previous {
	left: 0px;
 *left:0;
	background-position: -229px -170px;
}
.shop_info_tab .index-slider .pre-next .mt-slider-previous {
	float: right;
	background-position: 411px -403px
}
.shop_info_tab .index-slider .pre-next .mt-slider-previous:hover {
	background-color: #d6d6d6;
	background-position: 364px -403px
}
.shop_list_bottom .index-slider .pre-next {
	width: 23%;
	top: -140px;
	position: absolute;
	left: 77%;
}
.shop_list_bottom .index-slider .pre-next .mt-slider-previous, .shop_list_bottom .index-slider .pre-next .mt-slider-next {
	background: #fff url(../images/weidian_icon.png);
	width: 15px;
	height: 15px;
	border-radius: 3px;
	overflow: hidden;
	border: 1px solid #e7e7e7;
}
.shop_list_bottom .index-slider .pre-next .mt-slider-next {
	float: left;
	background-position: 271px -412px;
	right: 25px;
}
.shop_list_bottom .index-slider .pre-next .mt-slider-previous {
	float: right;
	background-position: 300px -413px;
}
.m-demo {
	width: 735px;
	height: 150px;
	overflow: hidden;
	position: relative;
}
.m-demo li {
	float: left;
	width: 235px;
	heihgt: 100%;/*box-shadow:0 0 5px rgba(0,0,0,0.5);*/
	-webkit-transition: width 0.5s ease-out;
	-moz-transition: width 0.5s ease-out;
	-ms-transition: width 0.5s ease-out;
	transition: width 0.5s ease-out;
	position: relative;
	height: 150px;
}
.m-demo:hover li:not(:hover) {
	width: 100px;
	z-index: 3;
	overflow: hidden;
}
.m-demo li:hover {
	width: 235px;
	overflow: hidden;
}
.m-demo li:hover img {
	position: absolute;
	left: -100px;
	z-index: 4
}
/* 初始展开  */
.m-demo-1 li {
	width: 100px;
	position: relative;
	z-index: 1;
}
.m-demo-1 li:first-child {
	width: 235px;
	z-index: 1;
	height: 150px;
	overflow: hidden;
}
.m-demo-1 li:first-child img {
	position: absolute;
	left: -100px;
	z-index: 0;
}
