* {
	margin: 0;
	padding: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%
}

ul,ol,li {
	list-style: none
}

em,i {
	font-style: normal
}

img {
	border: 0
}

input,img {
	vertical-align: middle
}

body {
	background: #fff;
	color: #999;
	font-size: 14px;
	font-family: Microsoft YaHei
}

a {
	color: #000;
	text-decoration: none
}

html,body {
	font-family: Helvetica,sans-serif;
	-webkit-text-size-adjust: none
}

textarea.fixAndroidKeyboard:focus,input.fixAKeyboard:focus {
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	-webkit-user-modify: read-write-plaintext-only
}

.noscroll {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden
}

.app-dom {
	width: 100%
}

.clearfix:after {
	display: block;
	content: '';
	clear: both;
	visibility: hidden
}

.hidden {
	display: none
}

#header {
	height: 44px;
	line-height: 44px;
	background: #f1f1f1;
	color: #333;
	font-size: 17px;
	text-align: center;
	position: relative
}

.mui-header-back {
	color: #888;
	font-size: 16px;
	position: absolute;
	left: 0;
	top: 0
}

.mui-header-back span {
	font-family: \5b8b\4f53,arial
}

.mui-header-arrow,.mui-header-arrow em {
	display: inline-block;
	border: 10px dashed transparent;
	border-right: 10px solid #888;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	position: relative;
	top: 4px;
	margin-right: 6px
}

.mui-header-arrow em {
	border-right: 10px solid #f1f1f1;
	position: absolute;
	top: -10px;
	left: -9px
}

#footer {
	padding: 10px 0
}

.region-block {
	display: block;
	overflow: hidden;
	background: #fff;
	text-align: center;
 border: 1px solid #F0F0F0;
}

.region-block .main-title,.region-block .sub-title {
	display: block;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.region-block .main-title {
	margin: 9px 0 0 9px;
	color: #333;
	font-size: 14px
}

.region-block .sub-title {
	display: block;
	margin-left: 9px;
	color: #bbb;
	font-size: 12px;
	padding: 5px 0
}

.modules-title {
	color: #333;
	font-size: 14px;
	padding: 10px 0 5px
}

body {
	background-color: #f5f5f5;
	font-family: "Microsoft YaHei"
}

.hidden {
	display: none!important
}

.tm-mobile-fail {
	background: url(//img.alicdn.com/tps/i1/TB1CeuIGXXXXXaBXVXX8LHRKXXX-98-98.gif) center center no-repeat #fff
}

.tm-mobile-nav {
	position: relative;
	padding: 0 12px;
	height: 35px
}

.tm-mobile-nav .tm-logo {
	color: #c50200;
	display: block;
	width: 120px;
	height: 20px;
	text-indent: -1000em;
	background: url(//img.alicdn.com/tps/i4/TB1mz29HpXXXXaKXpXXEvCmHXXX-564-252.png) no-repeat 0 -31px;
	background-size: 282px 126px;
	padding-top: 15px
}

.tm-mobile-nav .login-info {
	position: absolute;
	right: 12px;
	top: 18px;
	font-size: 14px;
	color: #666
}

.tm-mobile-nav .login-info a {
	color: #666
}

.tm-mobile-nav .login-info .user-name {
	position: relative;
	margin-right: 10px
}

.tm-mobile-nav .login-info .user-name:after {
	position: absolute;
	right: -5px;
	top: 2px;
	height: 12px;
	width: 0;
	border-right: 1px solid #bebebe;
	content: ''
}

.category-dialog {
	display: none;
	position: absolute;
	top: 0;
	left: -272px;
	width: 270px;
	z-index: 100;
	-webkit-transition: -webkit-transform .3s ease-in;
	-moz-transition: -moz-transform .3s ease-in;
	-o-transition: -o-transform .3s ease-in;
	transition: transform .3s ease-in
}

.category-dialog .category-hd {
	position: relative;
	height: 30px;
	line-height: 30px;
	padding-left: 30px;
	background: #c10000;
	color: #fff;
	font-size: 15px
}

.category-dialog .category-hd:before {
	position: absolute;
	top: 0;
	left: 5px;
	content: '';
	width: 25px;
	height: 30px;
	background: url(//img.alicdn.com/tps/i4/TB15kCaGXXXXXboXFXX1a.P4FXX-186-1054.png) no-repeat -67px -232px;
	background-size: 93px 527px
}

.category-dialog .category-bd {
	opacity: .9;
	filter: alpha(opacity=90);
	background: #000;
	padding: 8px 10px 37px
}

.category-dialog .category-bd:after {
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	content: '';
	width: 40px;
	height: 12px;
	margin-left: -20px;
	background: url(//img.alicdn.com/tps/i4/TB15kCaGXXXXXboXFXX1a.P4FXX-186-1054.png) no-repeat -50px -292px;
	background-size: 93px 527px
}

.category-dialog .category-bd a {
	position: relative;
	display: block;
	height: 37px;
	line-height: 37px;
	font-size: 15px;
	color: #fff;
	padding-left: 30px;
	border-bottom: 1px dotted #111
}

.category-dialog .category-bd a:before {
	content: '';
	display: block;
	width: 30px;
	height: 37px;
	position: absolute;
	top: 0;
	left: 0;
	background: url(//img.alicdn.com/tps/i4/TB15kCaGXXXXXboXFXX1a.P4FXX-186-1054.png) no-repeat 1px 11px;
	background-size: 93px 527px
}

.category-dialog .category-bd a:after {
	content: '';
	display: block;
	width: 20px;
	height: 37px;
	position: absolute;
	top: 0;
	right: 0;
	background: url(//img.alicdn.com/tps/i4/TB15kCaGXXXXXboXFXX1a.P4FXX-186-1054.png) no-repeat -70px -308px;
	background-size: 93px 527px
}

.category-dialog .category-bd .item-nvz:before {
	background-position: 1px 11px
}

.category-dialog .category-bd .item-ny:before {
	background-position: 1px -19px
}

.category-dialog .category-bd .item-nz:before {
	background-position: 1px -49px
}

.category-dialog .category-bd .item-yd:before {
	background-position: 1px -79px
}

.category-dialog .category-bd .item-hw:before {
	background-position: 1px -109px
}

.category-dialog .category-bd .item-nvx:before {
	background-position: 1px -139px
}

.category-dialog .category-bd .item-nx:before {
	background-position: 1px -169px
}

.category-dialog .category-bd .item-xb:before {
	background-position: 1px -199px
}

.category-dialog .category-bd .item-mz:before {
	background-position: 1px -229px
}

.category-dialog .category-bd .item-dq:before {
	background-position: 1px -259px
}

.category-dialog .category-bd .item-my:before {
	background-position: 1px -289px
}

.category-dialog .category-bd .item-sp:before {
	background-position: 1px -319px
}

.category-dialog .category-bd .item-jz:before {
	background-position: 1px -349px
}

.category-dialog .category-bd .item-ps:before {
	background-position: 1px -379px
}

.category-dialog .category-bd .item-qc:before {
	background-position: 1px -409px
}

.category-dialog .category-bd .item-xh:before {
	background-position: 1px -439px
}
 
.category-dialog .category-bd .item-yy:before {
	background-position: 1px -469px
}

.category-dialog .category-bd .item-ts:before {
	background-position: 1px -499px
}

.category-dialog .category-close {
	display: block;
	position: absolute;
	top: 0;
	right: 3px;
	width: 30px;
	height: 30px;
	text-indent: -1000em;
	background: url(//img.alicdn.com/tps/i4/TB15kCaGXXXXXboXFXX1a.P4FXX-186-1054.png) no-repeat -65px -258px;
	background-size: 93px 527px
}

.category-dialog-unfold {
	-webkit-transform: translateX(270px);
	-moz-transform: translateX(270px);
	-ms-transform: translateX(270px);
	-o-transform: translateX(270px);
	transform: translateX(270px)
}

.blur-glass {
	-webkit-filter: blur(3px);
	filter: blur(3px)
}

.my-info-dialog {
	position: fixed;
	top: 34px;
	left: 0;
	width: 100%;
	z-index: 100;
	padding-top: 6px;
	display: none
}

.my-info-dialog:before {
	position: absolute;
	top: 1px;
	right: 25px;
	content: '';
	display: block;
	height: 0;
	width: 0;
	border-style: solid;
	border-color: #e5e5e5 transparent;
	border-width: 0 6px 6px
}

.my-info-dialog .my-info-hd {
	height: 33px;
	line-height: 33px;
	padding-left: 10px;
	background: #e5e5e5;
	color: #000;
	font-size: 15px
}

.my-info-dialog .my-info-bd {
	background: #fff;
	height: 211px;
	text-align: center;
	overflow: hidden
}

.my-info-dialog .my-info-bd a {
	display: block;
	height: 106px;
	font-size: 12px;
	color: #000;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding-top: 25px!important
}

.my-info-dialog .my-info-bd a:nth-child(3n) {
	border-right: 0
}

.my-info-dialog .my-info-bd a:before {
	content: '';
	display: block;
	margin: auto;
	width: 30px;
	height: 36px
}

.my-info-dialog .my-info-bd .tmall-app:before {
	background: url(//img.alicdn.com/tps/i4/TB15kCaGXXXXXboXFXX1a.P4FXX-186-1054.png) no-repeat -62px 3px;
	background-size: 93px 527px
}

.my-info-dialog .my-info-bd .taobao-mobile:before {
	background: url(//img.alicdn.com/tps/i4/TB15kCaGXXXXXboXFXX1a.P4FXX-186-1054.png) no-repeat -62px -31px;
	background-size: 93px 527px
}

.my-info-dialog .my-info-bd .buy-cart:before {
	background: url(//img.alicdn.com/tps/i4/TB15kCaGXXXXXboXFXX1a.P4FXX-186-1054.png) no-repeat -62px -64px;
	background-size: 93px 527px
}

.my-info-dialog .my-info-bd .favorite-item:before {
	background: url(//img.alicdn.com/tps/i4/TB15kCaGXXXXXboXFXX1a.P4FXX-186-1054.png) no-repeat -64px -100px;
	background-size: 93px 527px
}

.my-info-dialog .my-info-bd .favorite-shop:before {
	background: url(//img.alicdn.com/tps/i4/TB15kCaGXXXXXboXFXX1a.P4FXX-186-1054.png) no-repeat -64px -136px;
	background-size: 93px 527px
}

.my-info-dialog .my-info-bd .all-order:before {
	background: url(//img.alicdn.com/tps/i4/TB15kCaGXXXXXboXFXX1a.P4FXX-186-1054.png) no-repeat -64px -170px;
	background-size: 93px 527px
}

.my-info-dialog .my-info-close {
	display: block;
	position: absolute;
	top: 5px;
	right: 0;
	width: 33px;
	height: 33px;
	text-indent: -1000em;
	background: url(//img.alicdn.com/tps/i4/TB15kCaGXXXXXboXFXX1a.P4FXX-186-1054.png) no-repeat -62px -201px;
	background-size: 93px 527px
}

.clover-slider {
	width: 100%;
	display: block;
	text-align: center;
	position: relative
}

.clover-slider::before {
	content: '\20';
	display: block
}

@media screen and (min-width:376px) and (max-width:414px) {
	.clover-slider::before {
		padding-top: 24.07%
	}
}

@media screen and (max-width:375px) {
	.clover-slider::before {
		padding-top: 31.25%
	}
}

@media screen and (min-width:415px) {
	.clover-slider::before {
		padding-top: 31.25%
	}
}

.shortcut-operation {
	height: 70px;
	background: #fff;
	padding:5px 0;
}

.shortcut-operation .shortcut-item {
	position: relative;
	text-align: center;
	display: block
}

.shortcut-operation .shortcut-item a {
	display: block;
	color: #999;
	font-size: 12px
}

.shortcut-operation .shortcut-item:hover{
	text-decoration:none;
}

.shortcut-operation .shortcut-item img {
	width: 37px;
	height: 37px;
	display: block;
	margin: auto
}

.act-promotion {
	display: none
}

.promotion-item {
	position: relative;
	margin: 0 10px 10px;
	overflow: hidden
}

.promotion-item .promotion-banner {
	display: block;
	overflow: hidden
}

.promotion-item .big-banner {
	margin-right: 9px
}

.promotion-item .small-banner:first-child {
	margin-bottom: 9px
}

.act-full-banner {
	margin: 0 10px 10px;
	overflow: hidden
}

.handpick-act .modules-title {
	margin: 0 10px
}

.feature-market {
	margin: 0 10px 10px
}

.feature-market .region-block {
	margin-right: 9px
}

.feature-market .region-block:last-child {
	margin-right: 0
}

.feature-market .region-block .market-pic {
	margin: 5px 0 10px
}

.miao-yi-yan {
	position: relative;
	margin: 0 10px 10px;
	padding: 0 9px;
	height: 90px;
	background-color: #fff
}

.miao-yi-yan .item-notice .main-title {
	color: #666;
	font-size: 14px
}

.miao-yi-yan .item-notice .sub-title {
	display: block;
	color: #bbb;
	margin: 5px 0 7px;
	font-size: 12px
}

.miao-yi-yan .item-notice .count-down {
	color: #000
}

.miao-yi-yan .item-notice .count-down del {
	display: inline-block;
	border-radius: 2px;
	background: #000;
	margin-left: 1px;
	padding: 1px 2px;
	color: #fff
}

.miao-yi-yan .item-pic {
	width: 80px;
	padding: 5px
}

.miao-yi-yan .item-detail .item-title {
	display: block;
	color: #666;
	margin-left: 21px;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}


.miao-yi-yan .item-detail .sell-info {
	display: block;
	margin: 4px 0 0 21px;
	color: #bbb;
	font-size: 12px
}

.hot-brand {
	margin: 0 9px 10px 10px
}

.brand-slider .brand-item {
	margin: 0 1px 1px 0;
	padding: 5px;	padding: 5px;!important;
	height: 90px;
	line-height: 90px;
	background: #fff;
	text-align: center
}

.brand-slider .brand-item:nth-child(4n) {
	margin-right: 0
}

.brand-slider .slider-nav-container {
	height: 24px;
	line-height: 24px;
	text-align: center
}

.brand-slider .slider-nav-container li {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0 2px;
	background: #dcdcdc;
	border-radius: 50%
}

.brand-slider .slider-nav-container .cur-nav {
	background: #999
}

.brand-chn .chn-block:last-child {
	margin-left: 1px
}

.market-floor {
	margin: 0 10px
}

.market-floor .region-block {
	position: relative;
	margin: 0 10px 10px 0;
	width: 120px;
	height: 60px;
	text-align: left
}

.market-floor .region-block:nth-child(2n) {
	margin-right: 0
}

.market-floor .region-block .main-title {
	margin-top: 15px
}

.market-floor .region-block .sub-title {
	padding-top: 5px
}

.market-floor .region-block .market-pic {
	position: absolute;
	top: 5px;
	right: 5px
}

.more-wonderful {
	margin: 0 10px
}

.item-list {
	*zoom: 1
}

.item-list:before,.item-list:after {
	display: table;
	content: "";
	line-height: 0
}

.item-list:after {
	clear: both
}

.item-list .rec-item {
	background: #fff;
	margin: 0 9px 9px 0
}

.item-list .rec-item:nth-child(2n) {
	margin-right: 0
}

.item-list .rec-item .item-name {
	font-size: 14px;
	color: #333;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 9px 9px 0
}

.item-list .rec-item .item-price {
	font-size: 18px;
	color: #333;
	font-weight: 700;
	padding: 0 9px;
	line-height: 32px
}

.item-list .rec-item .yen {
	margin-right: 3px;
	font-weight: 400;
	vertical-align: baseline
}

.act-rec {
	display: none
}

.act-rec .act-banner {
	position: fixed;
	top: 50%;
	left: 50%;
	display: block;
	width: 290px;
	height: 370px;
	margin-left: -145px;
	margin-top: -185px;
	z-index: 101
}

.act-rec .act-close {
	position: fixed;
	top: 50%;
	left: 50%;
	display: block;
	width: 30px;
	height: 30px;
	margin-left: 110px;
	margin-top: -180px;
	z-index: 101;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADsAAAA7CAYAAADFJfKzAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2xJREFUeNrkm8tu01AQhsd2oW3aAm1BlKgQquyQ6IoFlxUPAA/LC7AFQTflsiqCghfhVtSSNM2FhhlnTnRwHMeOz83hl34pVdrYX+dcZo4nHujTKnodfYlfV9AX0RfQHnqA7qG76FN0E32C/sWvlctT/HkEt43eQi8V+JwzdAMdMrwzsAH6FnoHvaIhIC30R/Rn9B9bsD4D1tGLoF8d9AcGPzcJexV9l+eiadF8foP+oRuWonmHI2pbFOH3eaKcB5ZW03voy+COjtF7PK8zLS5ZRNvHQ00LUBHRil9Ff+c5XRh2E/2A90gXtcDbHW1R7SKwFNH7nAi4LJ/39m9pEU6DpSH7yOGIJrFUORnp5YENOKIVKJcCnnYhp6OZYGkPvQ7l1CKPxq9JYz2ua+galFs15kiFpZ93YT60G+eLw+7kmaeDweCZybvPeb1KPNPzY/O3nivX9LynpoDpOnS9nH9Wl9clPzbOc1cvJoBnBBWLVS0J9vbMdaJG4AKgY1y+dMJQKO/VAawAVCRH6zLstpJjD4XAikBB5hOwW6qioQJYMeiIz+fThiWVw68IsAZQUQquEuyGjoVlFmBNoEIbPpdxYBtYMyhpTQxjsAlsAHQEu6w7+0kDNgRKWvZNFedJwAZBo+Mbn89wwDSwYdAIlo5Sn5iuvSyAjtLFcxugpstDVJ9g+zYiagE4gu3aGrqGgSPYts05ahC4TbBNW6CGgX8T7IkLq64B4Aj2yJXtRTPwkRjGZ67so5qAia8piveGSwmDBuCGfFIRupYZKQYOZVh6ttlyBVQxcIv5/jlKPXQx11UAfCjnxkLUZ9RzMakvANxjrjFYeuPA1eplRuADOYBeQhX0GMr3EDpJ1A/5XK7q4k/x6I19mA/tx8vXYMJ/hB4IXSkx6CcYNoWNDdskvYNhQ1UZdcz3D1lhKfx7pmpdheryfSeevgRTlm1qhqxC9k44m6L7fUHVzaRfmAbR4ezjRsoocEF0tPQKpjRiZ4kYnWRQbyA9CVtwELTDEZ3acR7k+ECqHDbBTCN1VtHBw8u0oTsLrJgTIcO60IZLaeBryNCNOimDyirbneRveWrlSzkLXPS/+Y5AfCrM/bc/kkRdKTdh2DdYpJg45WH6BRz7Xs8kVXj1XuO5vcJbl3BfcovnIq2qPxlWuf4KMAAcInOdTGwyAwAAAABJRU5ErkJggg==") no-repeat;
	background-size: 30px 30px;
	text-indent: -1000em
}

.act-rec .act-mask {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	filter: alpha(opacity=50)
}

.handpick-act {
	display: none
}

.tm-mbole-notice {
	position: relative;
	padding-left: 35px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	background-color: #fbedea;
	color: #c40000
}

.tm-mbole-notice:before {
	position: absolute;
	left: 0;
	top: 0;
	content: ' ';
	display: block;
	width: 30px;
	height: 30px;
	background: url(data:image/png;
	base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAUCAYAAACJfM0wAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAflJREFUeNqclU1IVFEUx2eml6AmSopuBMHaqDAauqoRGhXEj4VDUyhChgoKojulFi1b1CKwAgUdIhQlAkEGjKYWQu00QmZT5nIiRGcMtCi/pt+F8+LyeDO954Uf595zD/935txz73jXA9c8DkcTbEBSd9a//2Ab7HMgeB7m4S0cWjc/NgbGYNCtcCd8hV5Iwb7NRydhBvFhJ8IFEIEoVIjvwCbuCPywA1OIh3XhGqgTlGCLZNlvEfFa1n0wTY3joqHGK8QvmsJr8ElQB3QTyhzU/gYMIbSAuMq4VfwRU/iPFnwK2w67JASqJXoQ70Y8xnwTuliX2gn/b9TCEpxAUHxzYsfEhn0e96Nasn0Jx/AEDLKsJOs3EhM8i/AirMMtWT8X26zFNLgR1rtiTZvvii3UfCWGC+FTOexidWCa3y92S/N9cZPxT8iRMhTBbfHfExujzrnmL3IjnA+/4TE8kE5QXRFQd4CD+4WdkNioYbkMeXL/sz1Yk2LbYEXmHWLvSxu+NmSzWDa+wZUMwmnLW2KKhsj2O2V4xvyc6mXWaUP72r/CwwUYzVIW9crdgR+ILCM6wHwE4qyfZnrdknKDVP0+a/5jS9wLUKKPsLOwB9edvMerUAUPZX3JJqYcxuUX+Mk25eYf5C60wzvtLMyRgKtwGdGEvvFXgAEA59OEkQamWIkAAAAASUVORK5CYII=) no-repeat 13px 9px;background-size: 14px 12px
}


.mui-flex {
	display: -webkit-box!important;
	display: -webkit-flex!important;
	display: -ms-flexbox!important;
	display: flex!important;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}
.mui-flex,.mui-flex *,.mui-flex :after,.mui-flex :before {
	box-sizing: border-box
}

.mui-flex>.cell {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 0;
	-webkit-flex-basis: 0;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	max-width: 100%;
	display: block;
	padding: 0!important;
	position: relative
}

.mui-flex>.cell.fixed {
	-webkit-box-flex: 0!important;
	-webkit-flex: none!important;
	-ms-flex: none!important;
	flex: none!important;
	width: auto
}

