.error-wrap {
    margin: 80px auto 0;
    width: 600px;
    padding: 50px;
    border: 1px solid #e5e5e5;
    background: #fff;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.error-wrap h1 {
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
}