/*可以在这里添加你自己的css*/
body {
    font-family: Helvetica, "STHeiti STXihei", "Microsoft JhengHei", "Microsoft YaHei", Tohoma, Arial;
}
a {
  color: #09f;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #09f;
  text-decoration: none;
}
img {
	max-width: 100%;
	width: auto;
	height: auto;
}
img.edui-faked-video {
	max-width: none;
	width: 100%;
	height: auto;
}
img[data-goods-style="1"] {
	width: 160px;
	height: 160px;
	border: 5px solid transparent;
}
blockquote {
	padding: 0 0 0 15px;
	margin: 0 0 18px;
	border-left: 5px solid #EEE;
}
img + br {
	display: block;
	padding: 4px 0;
	content: ' ';
}
body p {
	margin-bottom: 1em;
}
iframe {
	border: none;
}