#div_nav_fixed .box {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-top: 1px solid #ced3d7;
  border-bottom: 1px solid #ced3d7;
}
#div_nav_fixed {
	height: 46px;
	width: 100%;
	}
.info_detail .div_nav li {-webkit-border-image: url(../imgs/border.gif) 2 stretch;}
#div_nav_fixed .div_nav a {display: block;margin: auto;overflow: hidden;line-height: 45px;font-size: 13px;color: #4a4a4a;text-align: center;}

#div_nav_fixed .div_nav li {
	-webkit-border-image: url(../imgs/border.gif) 2 stretch;
	width:49%;
}

#div_nav_fixed .box {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#div_nav_fixed .box>* {
	-moz-box-flex: 1;
}

.info_detail .div_sections > section {
	display: none;
	min-height: 100px;
	padding: 5px 0px 30px;
}


.info_detail .div_sections > section.on {
	display: block;
}

.section_specification div {
	background: #f1f1f1 none repeat scroll 0 0;
	padding: 0 10px;
}

.section_specification div dd {
	border-bottom: 1px solid #ffffff;
	color: #a1a1a1;
	font-size: 11px;
	line-height: 30px;
	padding: 0 5px;
}

.section_specification div dd label:nth-of-type(2) {
	color: #4a4a4a;
	float: right;
}

.section_detail {
	overflow: hidden;
	width: 100%;
}

.info_detail .div_sections > section {
	display: none;
	min-height: 100px;
	padding: 5px 0px 30px;
}

.section_detail img {
	max-width: 100%;
}
img {
	vertical-align: middle;
}

.info_detail .div_sections > section.on {
	display: block;
}



.info_detail .div_sections > section.section_comments {
	padding-left: 0;
}
.box {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.nav_comments {
	border: 1px solid #798291;
	border-radius: 8px;
	margin: 10px auto;
	overflow: hidden;
}

.nav_comments li {
	border-right: 1px solid #798291;
	height: 30px;
	line-height: 30px;
	text-align: center;
}


.nav_comments li.on {
	background: #3e3e3e none repeat scroll 0 0;
	color: #ffffff;
}


.nav_comments li label {
	display: block;
	margin: 0 auto;
	pointer-events: none;
	width: 100px;
}

.tbox {
	height: 100%;
	width: 100%;
}

.tbox > * {
	display: table-cell;
	height: 100%;
	vertical-align: top;
}
.list_comments .tbox > * {
	padding: 15px 0;
	vertical-align: middle;
}

.list_comments .tbox > *:first-of-type {
	padding: 0 5px;
	text-align: center;
}

.list_comments .img_wrap {
	border-radius: 100px;
	display: inline-block;
	height: 34px;
	overflow: hidden;
	width: 34px;
}

.list_comments .img_wrap img {
	border-radius: 100px;
	height: 100%;
	width: 100%;
}

.list_comments .tbox > *:first-of-type p {
	color: #4a4a4a;
	font-size: 10px;
	padding: 3px 5px 0 0;
	width: 70px;
}


.list_comments .tbox > *:first-of-type p:nth-of-type(2) {
	color: #7f8c8d;
	font-size: 9px;
}

.list_comments .comment_content {
	color: #4a4a4a;
	font-size: 11px;
	line-height: 18px;
	word-break:break-all;
}

.list_comments .tbox > *:nth-of-type(2) p:nth-of-type(2) {
	position: relative;
}

.list_comments .comment_rate, .list_comments .comment_time {
	color: #7f8c8d;
	display: inline-block;
	font-size: 9px;
	height: 18px;
	line-height: 18px;
	width: 152px;
}

.list_comments .comment_rate {
	background: rgba(0, 0, 0, 0) url("../imgs/w_12.png") no-repeat scroll 0 center;
	width: 75px;
}


.list_comments .comment_rate[data-rate="5"] {
	background-position: 0 center;
}

.list_comments .comment_time {
	margin-top: 3px;
	position: absolute;
	right: 0;
	text-align: right;
}


.list_comments .reply {
	border: 1px solid #ced3d7;
	border-radius: 5px;
	margin-top: 10px;
	padding: 5px;
	position: relative;
}


.list_comments .reply::before {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: #ffffff none repeat scroll 0 0;
	border-color: #ced3d7;
	border-image: none;
	border-style: solid;
	border-width: 1px 1px 0 0;
	content: "";
	height: 8px;
	margin-top: -5px;
	position: absolute;
	right: 37px;
	top: 0;
	width: 8px;
	z-index: 10;}
#div_nav_fixed .div_nav a.on {color: #fe5842;}
.box > * { -moz-box-flex: 1;}


.tabber button, .tabber a{width:33%}

.tabber.tabber-ios a.active {
	background-color: #fe5842;
	border: 0 none;
	color: #fff;
}
.section_body{margin:10px 0px;}
.s_empty {
	color: #999;
	display: none;
	height: 70px;
	line-height: 70px;
	text-align: center;
	background:none;
	background-color:none;
}




.tbox {
  width: 100%;
  height: 100%;
}
.tbox > *:last-child {
  width: 100%;
  text-align:left;
}
.list_comments  li{padding:5px 0}
.tbox .comment_content{ text-align:left}
.list_comments .tbox>*:first-of-type {
  padding: 0 5px;
  text-align: center;
}
.list_comments .tbox>* {
  vertical-align: middle;
  padding: 15px 0;
}
.tbox > * {
  height: 100%;
  display: table-cell;
  vertical-align: top;
}
.list_comments .img_wrap {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 100px;
  overflow: hidden;
}
.list_comments .img_wrap img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}
.list_comments .tbox>*:first-of-type p {
  padding: 3px 5px 0 0;
  width: 70px;
  font-size: 10px;
  color: #4a4a4a;
}
.list_comments li:nth-of-type(n+2) .tbox>*:nth-of-type(n+2) {
  border: 1px solid #ced3d7;
  border-width: 1px 0 0 0;
 
}
.list_comments .tbox>*:first-of-type p:nth-of-type(2) {
  font-size: 9px;
  color: #7f8c8d;
}
.list_comments .comment_rate, .list_comments .comment_time {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  font-size: 9px;
  color: #7f8c8d;
  width: 152px;
}
.list_comments .comment_rate[data-rate="5"] {
  background-position: 0px;
}
.list_comments .comment_rate {
  background: url(../imagesshouji/w_12.png) no-repeat 0 center;
  -webkit-background-size: auto 15px;
  width: 75px;
}
.list_comments .comment_time {
  position: absolute;
  right: 0;
  margin-top: 3px;
  text-align: right;
}