@charset "utf-8";
/*用户中心优惠券*/
.tabber button, .tabber a{width:33.3%}
.promote-card-list {
    margin: 0 20px;
}
.promote-card-list .promote-item {
    background: #fff;
   /* border: 1px solid #e5e5e5;*/
    border-left: 0;
    /* border-radius: 5px;*/
    margin-bottom: 10px;
    height: 92px;
    position: relative;
    overflow: hidden;
}
.promote-card-list .promote-item a {
    display: block;
}

.promote-card-list .promote-left-part {
    float: left;
    width: 75%;
    height: 92px;
    color: #fff;
}
.promote-card-list .coupon-style-0 .promote-left-part1 {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fe324e), to(#fe6264));
    background: -moz-linear-gradient(top, #fe324e, #fe6264);
}
.promote-card-list .coupon-style-0 .promote-left-part {
    /* background-position: 0 -123px; */
    /*border-radius: 4px 0px 0 4px;*/
   /* background: transparent url("../images/dot_line.png") repeat-x scroll left top;*/
    background-color: #e33c77;
}

.promote-card-list .promote-left-part .inner {
    padding: 10px;
}
.promote-card-list .p_card_div{border:1px solid #e5e5e5;}
.promote-card-list .p_card{ display:none;clear:both;padding:10px;font-size:10px;font-weight:700}
.promote-card-list .p_card2{display:none;clear:both;padding:10px;margin:5px;font-size:10px;border-top:1px solid #ccc;line-height:18px;


/*background: transparent url("../images/dot_line.png") repeat-x scroll  bottom;*/
}

.promote-card-list .p_card2 .chilun{
    background: transparent url("../images/dot_line.png") repeat-x scroll  bottom;
    z-index:2;
    position: absolute;
}

h4.promote-shop-name.font-size-14 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
.font-size-14 {
    font-size: 14px !important;
}
.promote-card-list .promote-left-part .promote-card-value {
    font-size: 30px;
    line-height: 40px;
}
.promote-card-list .promote-left-part .promote-card-value span {
    font-size: 18px;
}
i, cite, em, var, address, dfn {
    font-style: italic;
}
.promote-card-list .promote-left-part .promote-card-value {
    font-size: 30px;
    line-height: 40px;
}
.promote-card-list .promote-right-part {
    float: right;
    width: 25%;
    height: 92px;
    color: #fff;
    background-color: #32BBFB;
    line-height: 1.5;
}
.promote-card-list .promote-right-part .inner {
    padding: 6px 10px;
}
.wx_loading2{width:100%;  height:140px; background:url(../images/loading.gif) center center no-repeat;  }
.s_empty {
    text-align: center;
    height: 100px;
    line-height: 100px;
    background-color: white;
    color: #999;
    display:none;
}
.xubox_setwin .xubox_close1 {
    position: absolute;
    right: -28px;
    top: -28px;
    width: 30px;
    height: 30px;
    margin-left: 0;
    background-position: -60px -195px;
    _right: -15px;
    _top: -23px;
    _width: 14px;
    _height: 14px;
    _background-position: -31px -7px;
    z-index: 22222222222222;
}