#drp-notice {
    position: fixed;
    top: 0;
    z-index: 9999;
    height: 35px;
    background: #000000;
    color: white;width: 100%;
    padding:10px 0px 0px 0px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, .7);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#40000000,endColorStr=#40000000);
}
#drp-notice .button {
    width: 50px;
    display: inline-block;
    position: relative;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    font: normal 12px/25px Arial, sans-serif;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /*text-shadow: 1px 1px 1px rgba(255,255,255, .22);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;*/
}

/* Green Color */

#drp-notice .green {
    color: white;

    background: #26CB40; /* Old browsers */
    /*background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%); *//* FF3.6+ *//*
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a)); *//* Chrome,Safari4+ *//*
    background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); *//* Chrome10+,Safari5.1+ *//*
    background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); *//* Opera 11.10+ *//*
    background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); *//* IE10+ *//*
    background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); *//* W3C */
}
#drp-notice img.mp-image {
    vertical-align: middle;
    margin-right: 3px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}
#drp-notice ul {list-style: none}
#drp-notice ul li {
    float: left;
}
#drp-notice ul .img-li {
    margin-left: 11px;
}
#drp-notice ul .msg-li {
    margin-left: 5px;
    width: 50%;
}
#drp-notice ul .btn-li {
    margin-left: 10px;
}
#drp-notice ul .last-li {
    float: right;
    margin-top:  3px;
    margin-right: 10px;
}
#drp-notice ul .last-li .close {
    border: none;
    display:inline-block;
    width:12px;
    height:2px;
    background:gray;
    font-size:0;
    line-height:0;
    vertical-align:middle;
    -webkit-transform: rotate(45deg);
}
#drp-notice ul .last-li .close:after {
    border: none;
    content:'.';
    display:block;
    width:12px;
    height:2px;
    background:gray;
    -webkit-transform: rotate(-90deg);
}

.my-drp .button {
    width: 50px;
    height: 20px;
    display: inline-block;
    position: relative;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font: normal 12px/25px Arial, sans-serif;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.my-drp .orange {
    color: white;

    background: green;
}

.btn-radius {
    display: block;
    font-size: 18px;
    line-height: 20px;
    color: #333;
    text-align: center;
    border-radius: 3px;
    padding: 10px 0;
}
.btn-default {
    border: 1px solid #ddd;
    background-color: #E8E8E8;
    background-image: -moz-linear-gradient(top, #FFFFFF, #E8E8E8);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E8E8E8));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E8E8E8', GradientType='0');
    font-size: 14px;
}
.btn-outlet, .btn-share {
    height: 43px;
    line-height: 43px;
    padding: 0;
    box-sizing: border-box;
}
.btn-outlet, .btn-outlet i, .btn-outlet span {
    color: #cc3431;
}
.row {
    padding: 10px;
    position: relative;
}
.row.dotted {
    border-bottom: 1px dotted #dddddd;
}
.col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-12 {
    float: left;
}
.col-8 {
    width: 66.66%;
}
.f16 {
    font-size: 16px;
    line-height: 18px;
}
.black {
    color: #000;
}
.row .title {
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    padding: 0!important;
}
.t_right {
    text-align: right;
}
.col-4 {
    width: 33.33%;
}
.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}